<form method="post">
	<input type="hidden" value="{{ plat.id }}" name="id">
	<input type="text" placeholder="category" name="category" value="{{plat.category}}">
	<input type="text" placeholder="name" name="name" value="{{plat.name}}">
	<textarea type="text" placeholder="description" name="description">{{plat.description}}</textarea>
	<input type="text" placeholder="price" name="price" value="{{plat.price}}">
	<input type="text" placeholder="image" name="image" value="{{plat.image}}">
	<input type="submit" value="Valider">
</form>