{# TODO : manage errors display #}

<form class="uk-form-horizontal uk-margin-large" method="post">
	<input type="hidden" value="{{ dessert.id }}" name="id">

	<div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">Catégorie</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-horizontal-select" name="category" value="{{dessert.category}}">
                <option>Veuillez choisir une catégorie...</option>
                <option name="category">Vegetarian</option>
                <option name="category">Vegan</option>
                <option name="category">Omnivore</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Nom du plat</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="name" name="name" value="{{dessert.name}}">
        </div>
    </div>

	<div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-textarea">Description</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="form-horizontal-textarea" rows="5" type="text" placeholder="description" name="description">{{dessert.description}}</textarea>
    	</div>
    </div>

	<div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Prix</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="price" name="price" value="{{dessert.price}}">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Image (nom avec extension)</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="image" name="image" value="{{dessert.image}}">
        </div>
    </div>

<input class="uk-button uk-button-default uk-align-center" type="submit" value="Valider">

</form>