{% extends 'layout.html.twig' %}
{% block title %}Dessert {{parent()}}{% endblock %}
{% block content %}
<div class="uk-align-center">

    <nav class="uk-navbar-container " uk-navbar="dropbar: true; dropbar-mode: push">

        <div class="uk-navbar-center">

            <ul class="uk-navbar-nav">
                <li>
                    <a class="uk-article-title" href="#"><h1 class="uk-text-center">Desserts</h1></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-nav-header"><a href="/Dessert/catSort/Omnivore">Omnivores</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header"><a href="/Dessert/catSort/vegetarian">Végétariens</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-nav-header"><a href="/Dessert/catSort/vegan">Végans</a></li>
                            <li class="uk-nav-divider"></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        </div>
    {% for dessert in desserts %}
        {% if (loop.index %2) != 0 %}
        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="/assets/images/{{ dessert.image }}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">{{ dessert.name }}</h3>
                <p>{{ dessert.category }}</p>
                <p>{{ dessert.description }}</p>
                <p>{{ dessert.price }}$</p>
                <div class="uk-button-group uk-flex uk-flex-center ">
                    <!--<button class="uk-button uk-button-default uk-flex uk-flex-center">Entrées</button>-->
                </div>
            </div>
        </div>
    </div>
    </div>
{% else %}
        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 300">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium uk-margin-xlarge-left uk-margin-xlarge-right" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="/assets/images/{{ dessert.image }}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <h3 class="uk-card-title ">{{ dessert.name }}</h3>
                <p>{{ dessert.category }}</p>
                <p>{{ dessert.description }}</p>
                <p>{{ dessert.price }}$</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}