{% extends 'layout.html.twig' %}
{% block title %}Mon compte {{parent()}}{% endblock %}

{% block content %}

        <div class="uk-container uk-container-small">
        <class="uk-grid-small " uk-grid action="" method="post">
        <h1 class="uk-text-center">Bienvenue sur votre espace personnel, {{ userData.name }} !</h1>

<ul class="uk-comment-list">
    <li>
        <article class="uk-comment uk-visible-toggle" tabindex="-1">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Nom d'utilisateur : {{ userData.name }}</a></h4>
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Adresse Postale  : {{ userData.adress }}</a></h4>
                    </div>
                </div>
            </header>
            <p uk-margin>

            <a class="uk-button uk-button-default"  href="/User/edit/{{ userData.id }}" >Editer le compte</a>
            <a class="uk-button uk-button-default" href="/User/showReservation/{{ userData.id }}">Mes reservations</a>
                <a class="uk-button uk-button-danger" href="#modal-sections" uk-toggle>Supprimer</a>

            <div id="modal-sections" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Confirmation</h2>
                    </div>
                    <div class="uk-modal-body .uk-flex-center">
                        <p>️Attention la supression du compte est irréversible️</p>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <form class="c-inline" action="/User/delete/{{userData.id}}" method="post">
                            <br>
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                            <button class="uk-button uk-button-primary" href="/User/Connexion">Supprimer le compte️</button>
                        </form>
                    </div>
                </div>


        </article>
       </li>
       </ul>
       </div>

{% endblock %}
