{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-text-center">Les reservations</h1>
    {% for reservation in reservation %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
        <h3 class="uk-card-title">Ma commande </h3>
        {% if reservation['plat_du_jour'] == 1 %}
            <h3>Plat du Jour : 12€</h3>
        {% for pj in pdj %}
            <p>{{ pj.name }}</p>
        {% endfor %}
        {% endif %}
        {% if reservation['entreeName'] is not null %}
            <h3>Entrée :</h3>
            <p>{{reservation['entreeName']}} | {{reservation['entreePrice']}}€</p>
        {% endif %}
        {% if reservation['platName'] is not null %}
            <h3>Entrée :</h3>
            <p>{{reservation['platName']}} | {{reservation['platPrice']}}€</p>
        {% endif %}
        {% if reservation['dessertName'] is not null %}
            <h3>Dessert :</h3>
            <p>{{reservation['dessertName']}} | {{reservationr['dessertPrice']}}€</p>
        {% endif %}
        {% if reservation['boissonName'] is not null %}
            <h3>Boisson :</h3>
            <p>{{reservation['boissonName']}} | {{reservation['boissonPrice']}}€</p>
        {% endif %}
        {% if user.supplement == 20 %}
            <h3>Frais de port :</h3>
            <p>{{user.supplement}}€</p>
        {% endif %}
        {% if user.supplement == 400 %}
            <h3>Frais chef à domicile :</h3>
            <p>{{user.supplement}}€</p>
        {% endif %}
        <hr class="uk-divider-icon">
        <h3>Total :</h3><p>{{reservation['boissonPrice']+ reservationr['dessertPrice'] + reservation['entreePrice'] + reservation['platPrice'] + reservation['pdjPrice'] + user.supplement}}€</p>
    </div>
        {% endfor %}
    <a class="uk-button uk-button-default" href="/User/show/{{user.userId}}">Retour</a>
{% endblock %}