{% extends 'layout.html.twig' %}

{% block content %}

        <div class="uk-container uk-container-small">
        <class="uk-grid-small " uk-grid action="" method="post">
        <h1 class="uk-text-center">Bienvenue sur votre espace personnel, {{ userData.name }} !</h1>

<ul class="uk-comment-list">
    <li>
        <article class="uk-comment uk-visible-toggle" tabindex="-1">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Nom d'utilisateur : {{ userData.name }}</a></h4>
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Adresse Postale  : {{ userData.adress }}</a></h4>
                    </div>
                </div>
            </header>
            <p uk-margin>
            <a class="uk-button uk-button-default"  href="/User/edit/{{ userData.id }}" >Editer le compte</a>

            <form onsubmit="return confirm('Attention : la supression du compte entraine une suppresion de toutes les données liées à la session');" class="c-inline" action="/User/delete/{{userData.id}}" method="post">
                <button class="uk-button uk-button-danger" href="/User/Connexion">Supprimer le compte</button>
            </form>
            </p>
        </article>
       </li>
       </ul>
       </div>

{% endblock %}
