{% extends 'layout.html.twig' %}

{% block content %}
    <h1>User {{ user.name }}</h1>
    <p><li>{{ user.id }}</li> <li>Nom de l'user : {{ user.name }}</li> <li>adress : {{ user.adress }}</li> <li>Pass : {{ user.pass }}</li></p>
    <a href="/User/edit/{{ user.id }}">Edit</a>
    <form action="/User/delete/{{user.id}}" method="POST">
        <button>Delete</button>
    </form>
    <a href="/User/index">Back</a>
{% endblock %}
