{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ta commande a été validé</h1>
    {% for pj in pdj %}
        <li>{{ pj.name }}. {{ pj.price }}</li>
    {% endfor %}
    {{panier['entreeName']}}  {{panier['entreePrice']}}
    {{panier['platName']}}  {{panier['platPrice']}}
    {{panier['dessertName']}}  {{panier['dessertPrice']}}
    {{panier['boissonName']}}  {{panier['boissonPrice']}}
    <a href="/Panier/add">Back</a>
{% endblock %}