{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ entree.id }}" name="id">
	<input type="text" placeholder="category" name="category" value="{{entree.category}}">
	<input type="text" placeholder="name" name="name" value="{{entree.name}}">
	<input type="text" placeholder="description" name="description" value="{{entree.description}}">
	<input type="text" placeholder="price" name="price" value="{{entree.price}}">
	<input type="text" placeholder="image" name="image" value="{{entree.image}}">
	<input type="submit" value="Valider">
</form>


