{# TODO : manage errors display #}

<form class="uk-form-horizontal uk-margin-large" method="post">
	<input type="hidden" value="{{ boissons.id }}" name="id">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Text</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="name" name="name" value="{{boissons.name}}">
        </div>
    </div>

	<div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-textarea">Text</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="form-horizontal-textarea" rows="5" type="text" placeholder="description" name="description">{{boissons.description}}</textarea>
    	</div>
    </div>

	<div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Text</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="price" name="price" value="{{boissons.price}}">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Image (nom avec extension)</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="image" name="image" value="{{boissons.image}}">
        </div>
    </div>



