{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Boissons</h1>
    <ul>
        {% for boisson in boissons %}
            <li><a href="/Boissons/show/{{ boissons.id }}"> {{ boissons.name }}. {{ boissons.description }}. {{ boissons.price }}. {{ boissons.image }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="./add.html.twig">Ajouter</a>
{% endblock %}
